<!DOCTYPE html>
<html ng-app="pcGlee">

<head>
    <title>Band Gear</title>
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- PC Glee Style -->
    <link rel="stylesheet" href="assets/css/pcglee-style.css">
    <!-- AngularJS -->
    <script src="assets/lib/angular.min.js"></script>
    <!-- jQuery (must be before bootstrap)-->
    <script src="assets/lib/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/lib/bootstrap.min.js"></script>
    <!-- Main Module -->
    <script src="app/app.js"></script>
    <!-- Guitar Module -->
    <script src="app/controllers/guitar-controller.js"></script>
    <!-- Amp Module -->
    <script src="app/controllers/amp-controller.js"></script>   
    <!-- Directives Module -->
    <script src="app/directives/directives.js"></script>       

</head>

<body>
        <nav-template></nav-template>
    
        <div class="container">
        <div class="jumbotron">
            <h1>Band Gear</h1>
        </div>

<section ng-controller="TabController as panel">
    <!-- panel.tab will be a prperty of our controller -->
        <ul class="nav nav-pills">
            <!-- If true, set class to active -->
            <li ng-class="{ active: panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Pedals</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Guitars</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Amplifiers</a>
        </li>
        </ul>



    <div ng-controller="PedalController as pedalCtrl">
        <!-- When tab = 1 show this one -->
        <div class="panel" ng-show=" panel.isSelected(1) ">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="stompBox in pedalCtrl.stompBoxes">
                    <h1>Pedal: {{stompBox.name}}</h1>
                    <h2 class="pull-right">Model: {{stompBox.model}}</h2>
                    <h2>Type: {{stompBox.genre}}</h2>
                </li>
            </ul>
        </div>
    </div>

    
    <div ng-controller="GuitarController as guitarCtrl">
        <div class="panel" ng-show=" panel.isSelected(2) ">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="axe in guitarCtrl.axes">
                    <h1>Guitar: {{axe.name}}</h1>
                    <h2 class="pull-right">Model: {{axe.model}}</h2>
                    <h2>Color: {{axe.color}}</h2>
                </li>
            </ul>
        </div>
    </div>
            
    <div ng-controller="AmpController as ampCtrl">
        <div class="panel" ng-show=" panel.isSelected(3) ">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="amp in ampCtrl.amps">
                    <h1>Amplifier: {{amp.name}}</h1>
                    <h2 class="pull-right">Year: {{amp.year}}</h2>
                    <h2>Watts: {{amp.watts}}</h2>
                </li>
            </ul>
        </div>
    </div>
    
</section>
    </div>
</body>
</html>