<!DOCTYPE html>
<html ng-app="pcGlee">

<head>
    <title>Code Examples</title>
    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- PC Glee Style -->
    <link rel="stylesheet" href="assets/css/pcglee-style.css">
    <!-- AngularJS -->
    <script src="assets/lib/angular.min.js"></script>
    <!-- jQuery (must be before bootstrap)-->
    <script src="assets/lib/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/lib/bootstrap.min.js"></script>
    <!-- Main Module -->
    <script src="app/app.js"></script>
    <!-- Guitar Module -->
    <script src="app/controllers/guitar-controller.js"></script>
    <!-- Amp Module -->
    <script src="app/controllers/amp-controller.js"></script>   
    <!-- Directives Module -->
    <script src="app/directives/directives.js"></script> 
</head>
 
<body>
    <nav-template></nav-template>

    
<section ng-controller="TabController as views">
    <!-- panel.tab will be a prperty of our controller -->
        <ul class="nav nav-pills">
            <!-- If true, set class to active -->
            <li ng-class="{ active: views.isSelected(1) }">
            <a href ng-click="views.selectTab(1)">Hulk and Thor</a>
            </li>
            <li ng-class="{ active: views.isSelected(2) }">
            <a href ng-click="views.selectTab(2)">Clock</a>
            </li>
            <li ng-class="{ active: views.isSelected(3) }">
            <a href ng-click="views.selectTab(3)">Jake</a>
        </li>
        </ul>
    
        <div class="content" ng-show=" views.isSelected(1) ">
            <hulk-and-thor></hulk-and-thor>
        </div>

        <div class="content" ng-show=" views.isSelected(2) ">
            <time-and-date></time-and-date>
        </div>

        <div class="content" ng-show=" views.isSelected(3) ">
            <jake></jake>
        </div>

    </section>
    
</body>
</html>