<br>

<table border="0" width="700" cellspacing="0" cellpadding="0">
  <tr>
    <td><font color="#ADFF2F" size="15">Healthgrades</td>
  </tr>
  <tr>
    <td width="100%" bgcolor="#CC3300" height="2"></td>
  </tr>
</table>
<br>
<br>
<br>
    Middleton, WI ... May 2015 – April 2017
<br>
    <font color="CC3300">App Support
<br>
    • Part of the software development team specializing in bug identification, triage, and resolution
<br>
    • Developed AngularJS application to use as a user request form, experience with Git
<br>
    • Trained on Python, AngularJS, Node JS, and more
<br>
    • First line of defense for Personal Health Information while adding access to BI and CRM web tools
<br>