<br>
<table border="0" width="700" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <font color="#ADFF2F" size="15">RateLinx</font>
        </td>
    </tr>
    <tr>
        <td width="100%" bgcolor="#CC3300" height="2"></td>
    </tr>
</table>
<br>
<br>
<br>
    Madison, WI ... March 2017 - April Nov 2017
<br>
    <font color="CC3300">Software Engineer</font>
<br>
    • C# development on shipping rating engine (custom integration code)
<br>
    • Custom SQL Server and Crystal Reports
<br>
    • Debug and enhance existing software (C# .NET)
<br>
