<br>
<table border="0" width="700" cellspacing="0" cellpadding="0">
  <tr>
    <td><font color="#ADFF2F" size="15">Gateway Technical College</td>
  </tr>
  <tr>
    <td width="100%" bgcolor="#CC3300" height="2"></td>
  </tr>
</table>
<br>
<br>
<br>
Kenosha, WI
<br>
<font color="CC3300">Programmer Analyst</font>
<br>
    •	Programmer Analyst degree from Gateway Tech – Graduated May 2013
<br>
    •	Curriculum includes programming on the IBM i power system and systems analysis
<br>
    •	Languages: Advanced RPG IV, CL, Java, VB, SQL
<br>
Elkhorn, WI
<br>
<font color="CC3300">Network Specialist (plus advanced certificate in Net Security)</font>
<br>
    •	Network Specialist degree and Advanced Security Certificate in Network Security
<br>
    •	Curriculum includes CCNA, Network Security, Programming and Databases (SQL), Hacking Detection, Wireless Security, Hardware Troubleshooting, and various Linux and Microsoft server/network admin classes including Active Directory
<br>
    •	National Society of Leadership and Success
<br>
    •	Gateway Computer Professionals Union
<br>
