<table border="0" width="700" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <font color="#ADFF2F" size="15">Example Apps</td>
    </tr>
    <tr>
        <td width="100%" bgcolor="#CC3300" height="2"></td>
    </tr>
</table>
<br>
<!-- Content Area -->
<br>
<br>
<br>
<!--        <a href="code-examples.html" data-toggle="tooltip" title="Code Examples">Code Examples</a>-->
<br>
<br>

<div class="row" id="content-wrapper">

    <svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    
                    <symbol id="icon-twitchsearch" viewBox="0 0 32 32">
                        <title>twitchsearch</title>
                        <path d="M3 0l-3 5v23h8v4h4l4-4h5l9-9v-19h-27zM26 17l-5 5h-5l-4 4v-4h-6v-18h20v13z"></path>
                        <path d="M19 8h3v8h-3v-8z"></path>
                        <path d="M13 8h3v8h-3v-8z"></path>
                    </symbol>  
                    
                    <symbol id="icon-userapp" viewBox="0 0 36 32">
                        <title>userapp</title>
                        <path d="M24 24.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
                        <path d="M10.225 24.854c1.728-1.13 3.877-1.989 6.243-2.513-0.47-0.556-0.897-1.176-1.265-1.844-0.95-1.726-1.453-3.627-1.453-5.497 0-2.689 0-5.228 0.956-7.305 0.928-2.016 2.598-3.265 4.976-3.734-0.529-2.39-1.936-3.961-5.682-3.961-6 0-6 4.029-6 9 0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h8.719c0.454-0.403 0.956-0.787 1.506-1.146z"></path>
                    </symbol>
                    
                </defs>
            </svg>

    <div class="col-sm-1"></div>

    <div class="col-sm-3">
    </div>

    <a href="https://twitch-search-app.herokuapp.com/" data-toggle="tooltip" title="Twitch Search">
        <div class="col-sm-1">
            <svg class="icon icon-twitchsearch">
                    <use xlink:href="#icon-twitchsearch"></use>
                </svg>
        </div>
        
                        <a href="https://request-forms.herokuapp.com/#/" data-toggle="tooltip" title="User Request App">
                    <div class="col-sm-1">
                        <svg class="icon icon-userapp">
                    <use xlink:href="#icon-userapp"></use>
                </svg>
                    </div>

        <div class="col-sm-4"></div>
</div>
