<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand active">PC Glee</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
            <li><a href="technologies.html">Tech Page</a></li>
            <li><a href="christmas-list.html">Christmas List</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="active dropdown-toggle" href="bands.html">Bands<b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu active">
                    <li><a href="bands.html#jam">Jam Bands</a></li>
                    <li><a href="bands.html#rock">Rock Bands</a></li>
                    <li><a href="bands.html#jazz">Jazz</a></li>
                    <li><a href="bands.html#friends">Friends</a></li>
                </ul>
            </li>
            <li><a href="band-gear.html">Band Gear</a></li>
        </ul>
    </div>
</nav>
