<br>

<table border="0" width="700" cellspacing="0" cellpadding="0">
    <tr>
        <td><font color="#ADFF2F" size="15">Hulk and Thor</td>
  </tr>
  <tr>
    <td width="100%" bgcolor="#CC3300" height="2"></td>
  </tr>
</table>
<br>


<br>
With AJAX the picture will change very quickly without delay because it is not re-loading the entire page.
<br>

<a href="scriptpage.html" onmouseover="document.heros.src='assets/images/Hulk_and_Thor_After.png'"
onmouseout="document.heros.src='assets/images/Hulk_and_Thor_Before.png'">
    <img src="assets/images/Hulk_and_Thor_Before.png" 
border="0" name="heros" alt="Compare" /></a>
<br>